# Ativar o mecanismo de reescrita
RewriteEngine On

# Redirecionar /home para a raiz do site (index.html)
RewriteRule ^home/?$ / [L,R=301]

# Reescrever URLs amigáveis (remover .html do final da URL)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.html [L,QSA]

# Definir a página inicial padrão
DirectoryIndex index.html
