/*========Div 2========*/
#div2 {
    position: relative;
    padding: 0;
    margin: 0;
    height: 650px;
    width: 100%;
    background-color: white;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 460px) {
    #div2 {
        position: relative;
        padding: 0;
        margin: 0;
        height: 650px;
        width: 100%;
        max-width: 460px;
        background-color: white;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        overflow: hidden;
    }
}

/*===================*/

/*========Desenho Verde========*/
#Desenhoverde {
    position: relative;
    width: 685px;
    height: 685px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 460px) {
    #Desenhoverde {
        position: relative;
        width: 100px;
        height: 685px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 460px) {
        #desenhoVerdeSvg {
            width: 100%;
            max-width: 460px;
            height: 100%;
            transform: translateX(20px);
        }
    }
}

/*===================*/

/*========Imagem div 2========*/
#imagemFerro1 {
    position: relative;
    width: 251px;
    height: 454px;
    border-radius: 10px;
    background: url(img/Rectangle\ 5\ \(1\).png) lightgray 50% / cover no-repeat;
    z-index: 1;
    margin: auto;
    right: 53vh;
}

/* Ajustes para telas menores */
@media (max-width: 460px) {
    #imagemFerro1 {
        position: absolute;
        width: 120px;
        height: 60%;
        border-radius: 10px;
        background: url(img/Rectangle\ 5\ \(1\).png) lightgray 50% / cover no-repeat;
        z-index: 1;
        margin: auto;
        right: 10px;
    }
}

/*===================*/

/*========Text div2========*/
#textContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 460px) {
    #textContainer {
        max-width: 100%;
        text-align: start;
    }
}

#Geraldiv2 {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

@media (max-width: 460px) {
    #Geraldiv2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

#divDotext {
    width: 450px;
    height: 550px;
}

@media (max-width: 460px) {
    #divDotext {
        width: 250px;
        height: 550px;
    }
}

#textdiv1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    color: #000;
    text-align: left;
}

@media (max-width: 460px) {
    #textdiv1 {
        font-size: 23px;
        text-align: start;
    }
}

#marketing {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #150024;
}

@media (max-width: 460px) {
    #marketing {
        font-size: 23px;
        text-align: start;
    }
}

#textdiv2 {
    color: #140024;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

#textdiv2Mv {
    color: #140024;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

@media (min-width: 460px) {
    #textdiv2Mv {
        display: none;
    }
}

@media (max-width: 460px) {
    #textdiv2 {
        display: none;
    }

    #textdiv2Mv {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

#text2div2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

@media (max-width: 460px) {

    #text2div2 {
        font-size: 10px;
        text-align: start;
    }

    #text2div2 p {
        font-size: 10px;
        text-align: start;
    }
}

#text4div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 0px;
    padding: 0px;
    width: 17vw;
    height: 22vh;
}

#textFilha1div2,
#textFilha2div2,
#textFilha3div2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#text1svg,
#text2svg,
#text3svg {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#textFilha1div2 svg,
#textFilha2div2 svg,
#textFilha3div2 svg {
    margin-right: 10px;
}

@media (max-width: 460px) {

    #textFilha1div2 svg,
    #textFilha2div2 svg,
    #textFilha3div2 svg {
        width: 42px;
    }

    .textfilha1div2span {
        margin-bottom: 13px;
    }
    
}


#textFilha1div2 span,
#textFilha2div2 span,
#textFilha3div2 span {
    margin-left: 10px;
}


#textdiv1 {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

#marketing {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

#Aaspekto {
    color: #140024;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

@media (max-width: 460px) {
    #Aaspekto {
        font-size: 18px;
    }
}

#imaginaria {
    height: 130px;
    width: 130px;
}

@media (max-width: 460px) {
    #imaginaria {
        width: 10px;
    }
}

/*========Btnd5iv2========*/

#buttondiv2 {
    margin-top: 1rem;
}


#btn5 {
    margin-bottom: 2rem;
    border-radius: 68px;
    background: #57AE6C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0.1em 1em;
    border: solid 0px;
}

@media (max-width: 460px) {
    #btn5 {
        width: 230px;
        height: 40px;
        margin-bottom: 0;
        margin-top: 130px;
    }
}

#btn5:hover {
    background-color: #258a5c;
}

#btn5 svg {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #150024;
    border-radius: 50%;
    padding: 1px;
}

#vamos5 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 22px;
    margin-right: 1rem;
    padding: 0.5rem;
}

@media (max-width: 460px) {
    #vamos5 {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 22px;
        margin-right: 0;
        padding: 0.5rem;
    }
}

/*===================*/